
{% extends 'admin/base.html' %}

{% block content %}
    {% load widget_tweaks %}
 <div class="main-body-content w-100 ets-pt">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>Reset your password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Send confirmation link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}